In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

In [3]:
import orquest_csv_utils as ocu

utils imported

In [4]:
# Get raw data from all tables. Some data types are understood by Pandas as they arrive.
associations_raw = pd.read_csv('associations.csv', delimiter=';', dtype=ocu.dftypes['associations'])
contracts_raw = pd.read_csv('contracts.csv', delimiter=';', dtype=ocu.dftypes['contracts'])
hours_raw = pd.read_csv('hours.csv', delimiter=';', dtype=ocu.dftypes['hours'])
incidences_raw = pd.read_csv('incidences.csv', delimiter=';', dtype=ocu.dftypes['incidences'])
measures_raw = pd.read_csv('measures.csv', delimiter=';', dtype=ocu.dftypes['measures'])

In [5]:
associations_raw.head()

   person_id   from_date     to_date  store_id
0     665917  2017-06-02  2021-04-30         1
1     665917  2023-07-01  2024-03-31         1
2     665917  2021-05-01  2023-06-30         1
3     665919  2008-10-01  2023-09-30         1
4     665922  2008-10-01         NaN         1

In [6]:
# Perform explicit type casts for the columns that can't be directly converted by Pandas.

df_names =  [{'associations':associations_raw},
       {'contracts':contracts_raw},
       {'hours':hours_raw},
       {'incidences':incidences_raw},
       {'measures':measures_raw}
      ]

for df_dict in df_names:
    current_name = list(df_dict.keys())[0]
    print(current_name)
    df = df_dict[current_name]
    print(ocu.tcasts.keys())
    for col in df.columns:
           if col in ocu.tcasts[current_name].keys():
               match ocu.tcasts[current_name][col]:
                   case 'decimal_with_comma':
                       ocu.cast_comma_decimal_as_float(df,col)
                   case 'dmy_hm_datetime':
                       ocu.cast_d_m_y_h_m_as_datetime(df,col)
                   case 'ymd_datetime':
                       ocu.cast_y_m_d_as_datetime(df,col)

associations
dict_keys(['measures', 'hours', 'contracts', 'associations', 'incidences'])
contracts
dict_keys(['measures', 'hours', 'contracts', 'associations', 'incidences'])
hours
dict_keys(['measures', 'hours', 'contracts', 'associations', 'incidences'])
incidences
dict_keys(['measures', 'hours', 'contracts', 'associations', 'incidences'])
measures
dict_keys(['measures', 'hours', 'contracts', 'associations', 'incidences'])

In [7]:
associations_raw.to_csv('associations_rich.csv',index=False)
contracts_raw.to_csv('contracts_rich.csv',index=False)
hours_raw.to_csv('hours_rich.csv',index=False)
incidences_raw.to_csv('incidences_rich.csv',index=False)
measures_raw.to_csv('measures_rich.csv',index=False)