In [1]:
import pandas as pd
import numpy as np

In [2]:
work_calendar = pd.read_csv('work_cal_incidences.csv')
work_calendar['absence_type'] = work_calendar['absence_type'].fillna('no_ausente')

,day,person_id,planned_hours,store_id,in_alternate_workplace,absence_type,was_absent,worked_hours
0,2023-11-01,665923,5.0,NaN,False,no_ausente,False,5.0
1,2023-11-01,665926,4.5,NaN,False,no_ausente,False,4.5
2,2023-11-01,665934,6.0,NaN,False,no_ausente,False,6.0
3,2023-11-01,665944,5.0,NaN,False,no_ausente,False,5.0
4,2023-11-01,665956,6.5,NaN,False,no_ausente,False,6.5
...,...,...,...,...,...,...,...,...
2316,2024-01-31,665987,6.0,NaN,False,no_ausente,False,6.0
2317,2024-01-31,876837,4.0,NaN,False,no_ausente,False,4.0
2318,2024-01-31,999012,4.0,NaN,False,no_ausente,False,4.0
2319,2024-01-31,1305178,4.0,NaN,False,no_ausente,False,4.0
2320,2024-01-31,1770558,4.0,NaN,False,no_ausente,False,4.0

In [8]:
wc2 = work_calendar.pivot_table(index='person_id',columns='absence_type', values='day', aggfunc='count', fill_value='')

In [15]:
wc2.to_csv('worker_attendance_summary.csv',index=True)